# 一个workflow，名为deploy to tengxunyun
name: deploy to tengxunyun

on: # 此CI/CD触发时的事件
  push: # 在代码提交时自动触发
    branches:
      - master

# 变量
env: 
    SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
    SERVER_HOST: ${{ secrets.REMOTE_HOST }}
    REMOTE_USER: ${{ secrets.REMOTE_USER }}

# 一个 CI/CD 的工作流有许多 jobs 组成，比如最典型的 job 是 lint，test，build。
jobs: 
  build-backend:
    # runs-on字段指定运行所需要的虚拟机环境
    runs-on: ubuntu-latest 

    # 步骤
    steps:

      # 检出仓库副本
      - uses: actions/checkout@v3

      # 推送资源
      - name: Deploy
        uses: easingthemes/ssh-deploy@v2.2.11
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          ARGS: '-avz --delete'
          # SOURCE: 'backend/'
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }} 
          TARGET: /workspace/recordnode
          EXCLUDE: '/node_modules, config/config_env_local.js, /config/config_env_prod.js, /app/public/, /logs' # 排除文件，否则会被删除

      # 重启服务
      - name: Restart service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          # 执行脚本
          script: |
            cd /workspace/recordnode
            npm install --production
            npm run stop
            npm run start

